<body>
  <div class="container">
    <div class="header">
      <h1 class="text-primary">A&L Modas</h1>
      <p class="text-muted">
        Preços Acessíveis, Qualidade no Atendimento e Roupas Lindas!
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card p-4">
          <h3 class="text-secondary">Sobre Nós</h3>
          <p>
            Somos uma loja de roupas dedicada a oferecer peças modernas e
            estilosas com preços acessíveis e um atendimento de qualidade. Nossa
            missão é garantir que cada cliente saia satisfeito e bem vestido.
          </p>
          <p>Visite nossa loja e conheça nossa coleção exclusiva!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card p-4">
          <h3 class="text-secondary">Nosso Endereço</h3>
          <p>Rua das Pacas 04, Quadra 1B, Lote 04, Loja 3.</p>
          <p>CEP: 28.927-503</p>
          <p>
            Localização: No asfalto, próximo à curva do S e da entrada do
            Condomínio Gravatá 2.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card p-4 text-center">
          <h3 class="text-secondary">Localização no Mapa</h3>
          <iframe
            class="mapa"
            src="https://www.google.com/maps/@-22.6225432,-42.022037,3a,75y,191.66h,88.6t/data=!3m7!1e1!3m5!1sK2UZv3vl5hugFi1nC-b5rg!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D1.401348626991762%26panoid%3DK2UZv3vl5hugFi1nC-b5rg%26yaw%3D191.6575651102907!7i16384!8i8192?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D"
          ></iframe>
          <p class="mt-2">Clique no mapa para visualizar no Google Maps</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
