/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a3bccc;
  color: #333;
  line-height: 1.6;
}

/* Contêiner do Formulário */
.form-container {
  max-width: 100%;
  margin: 20px auto;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 2%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(104, 87, 250, 0.300);
}

/* Organizando os Campos na Mesma Linha */
.form-row {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #210c7c;
  font-size: 45px;
  font-style: bold;
}

.div-plusSize {
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.plusSize {
  margin-right: 10px;
  width: 5em;
}

.checkbox {
  display: flex;
  justify-content:flex-start;
  width: 20px;
  height: 20px;
}

/* Estilização dos Inputs e Select */
input, select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}


  
/* Botão */
button {
  margin-top: 3%;
  width: 450%;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border:#007bff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}
.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
  width: 100%;
  padding: 10px;
  background-color: #e61c26;
  color: #fff;
  font-size: 16px;
  border:#7a062d;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}
.btn-warning:hover {
      background-color: #7e090f;
}

button.cancelar {
  margin-left: 2%;
  background-color: #ec4604;
}

button.cancelar:hover {
  background-color: #8f0450;
}


/* Ajuste para a Tabela não sobrepor o Formulário */
.listagem-forme {
  margin-top: 10px;
}

/* Ajustes para Responsividade */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  h1 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .form-row {
    flex-direction: column;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  input, select {
    font-size: 14px;
  }

  button {
    font-size: 12px;
    padding: 8px;
  }
}
