
<div class="form-container">
  <h1>Cadastro de Fornecedores A&L Modas</h1>
  <form id="supplier-form">
    <div class="form-group">
      <label for="fornecedor">Fornecedor</label>
      <input type="text" id="Fornecedor" name="fornecedor" placeholder="Digite o Fornecedor" required>
    </div>

      <div class="form-group">
      <label for="phone">Nome do Fornecedor</label>
      <input type="text" id="Nome" name="nome-fornecedor"
          placeholder="Digite o Nome do Fornecedor" required>
    </div>

    <div class="form-group">
      <label for="address">Endereço</label>
      <input type="text" id="Endereço" name="endereco-fornecedor" placeholder="Digite o Endereço do Fornecedor" required>
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="number" id="telefone-fornecedor" name="telefone-fornecedor" required>
    </div>
    
    <div class="form-group">
      <label for="produto-vendido">Produto Vendido</label>
      <input type="text" id="produto-vendido" name="produto-vendido" required>
    </div>


    <!--Observações-->
    <div class="form-group">
        <label for="areafornecedores">Observações</label>
        <textarea name="areafornecedores" id="areafornecedores" style="width:100%; height:200px;" >
        Escreva suas observações.
        </textarea>
    </div>
  </form>

<div>
  <button type="button" class="btn btn-primary">Cadastrar</button>
  <button type="button" class="btn btn-warning">Deletar</button>
  <button type="button" class="btn btn-success">Salvar</button>
  <button type="button" class="btn btn-secondary">Fechar</button>
</div>