
/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #a3bccc;
    color: #333;
    line-height: 1.6;
  }
  
  /* Contêiner do Formulário */
  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(104, 87, 250, 0.300);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #210c7c;
    font-size: 45px;
    font-style: bold;
  }

  .div-plusSize {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .plusSize {
    margin-right: 10px;
    width: 5em;
  }

  .checkbox {
    display: flex;
    justify-content:flex-start;
    width: 20px;
    height: 20px;
  }
  
  /* Estilização dos Grupos do Formulário */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #210c7c;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  
  input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  /* Botão */
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #1c81e6;
    color: #fff;
    font-size: 16px;
    border:#007bff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  .btn-primary:hover {
      background-color: #0056b3;
  }

.btn-warning {
    width: 100%;
    padding: 10px;
    background-color: #e61c26;
    color: #fff;
    font-size: 16px;
    border:#7a062d;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  .btn-warning:hover {
        background-color: #7e090f;
  }

.btn-success {
    width: 100%;
    padding: 10px;
    background-color: #17ad03;
    color: #fff;
    font-size: 16px;
    border:#067506;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  .btn-success:hover {
        background-color: #0d5a06;
  }


.btn-secondary {
    width: 100%;
    padding: 10px;
    background-color: #595a58;
    color: #fff;
    font-size: 16px;
    border:#343534;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  .btn-secondary:hover {
        background-color: #303130;
  }
      
  /* Estilização Responsiva */
  @media (max-width: 768px) {
    .form-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 22px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    button {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 18px;
    }
  
    input, select {
      font-size: 14px;
    }
  
    button {
      font-size: 12px;
      padding: 8px;
    }
  
  /*formatação do Checkbox plus Size abaixo*/
  .form-group {
    /*margin-bottom: 10px;*/
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
  