<div class="form-container">
  <h1>Cadastro de Estoque</h1>
  <form id="supplier-form">
    <div class="form-group mb-2">
      <label for="produto">Produto</label>
      <input
        type="text"
        id="produto"
        name="produto"
        placeholder="Digite o Produto"
        required
      />
    </div>

    <!--  TODO:  colocar este código css no arquivo do componente css  -->
    <div
      class="div-plusSize"
      style="display: flex; align-items: center; margin-bottom: 10px"
    >
      <label for="plusSize" style="margin-right: 10px; width: 5em"
        >Plus Size</label
      >
      <input
        type="checkbox"
        style="
          display: flex;
          justify-content: flex-start;
          width: 20px;
          height: 20px;
        "
        id="plusSize"
      />
    </div>

    <select
      class="form-select form-select-lg mb-2"
      aria-label="Large select example"
    >
      <option selected>Tecido</option>
      <option value="1">Dryfit</option>
      <option value="2">Moletom</option>
      <option value="3">Elastano</option>
      <option value="4">Legging</option>
      <option value="5">Legging Jeans</option>
      <option value="6">Liganete</option>
      <option value="7">Linha Trançada</option>
      <option value="8">Renda</option>
      <option value="9">TacTel</option>
      <option value="10">Tecido Colméia</option>
      <option value="11">Duna</option>
      <option value="12">Viscolinho</option>
      <option value="13">Alfaiataria</option>
      <option value="14">Linho</option>
      <option value="15">Plissada</option>
      <option value="16">Suplex</option>
      <option value="17">Courino</option>
      <option value="18">Chimpa</option>
      <option value="19">Brim</option>
      <option value="20">Bengaline</option>
    </select>

    <div class="form-group mb-2">
      <label for="phone">Valor de Compra</label>
      <input
        type="number"
        id="valor-compra"
        name="valor-compra"
        placeholder="Digite o valor da compra"
        required
      />
    </div>

    <div class="form-group mb-2">
      <label for="address">Valor de Revenda</label>
      <input
        type="number"
        id="valor-revenda"
        name="valor-revenda"
        placeholder="Digite o valor da revenda"
        required
      />
    </div>

    <div class="form-group mb-2">
      <label for="cnpj">Data da compra</label>
      <input type="date" id="data-compra" name="data-compra" required />
    </div>

    <!--Observações-->
    <div class="form-group ">
      <label for="area1">Observações</label>
      <textarea name="area1" id="area1" style="width: 460px; height: 70px">
            Escreva suas observações.
        </textarea
      >
    </div>
  </form>

  <!-- <div>
    <button type="button" class="btn btn-primary">Cadastrar</button>
    <button type="button" class="btn btn-warning">Deletar</button>
    <button type="button" class="btn btn-success">Salvar</button>
    <button type="button" class="btn btn-secondary">Fechar</button>
  </div> -->

  <app-estoque-list></app-estoque-list>
</div>
