<div class="form-container">
  <h1>{{ editando ? 'Editar Estoque' : 'Cadastro de Estoque' }}</h1>

  <form id="stock-form" (ngSubmit)="salvarEstoque()" #eventForm="ngForm">
    
    <!-- Primeira linha: Produto -->
    <div class="form-row">
      <div class="form-group">
        <label for="produto">Produto</label>
        <input type="text" id="produto" name="produto" placeholder="Digite o Produto"
                    [(ngModel)]="novoEstoque.estoqueModel.produto" required />
        <!-- <input type="text" id="produto" name="produto" placeholder="Digite o Produto"
          [(ngModel)]="novoEstoque.estoqueModel.produto" required /> -->
      </div>
    </div>

    <!-- Segunda linha: Plus Size, Tecido e Data da Compra -->
    <div class="form-row">

      <div class="form-group">
        <label for="plusSize">Plus Size</label>
        <input type="checkbox" id="plusSize" name="plusSize" [(ngModel)]="novoEstoque.estoqueModel.pluzSize" />
      </div>

      <div class="form-group">
        <label for="tecido">Tecido</label>
        <select id="tecido" name="tecido" [(ngModel)]="novoEstoque.tecidoModel.nome" required>
          <option value="">Selecione um tecido</option>
          <option value="Dryfit">Dryfit</option>
          <option value="Moletom">Moletom</option>
          <option value="Elastano">Elastano</option>
          <option value="Legging">Legging</option>
          <option value="Liganete">Liganete</option>
          <option value="TacTel">TacTel</option>
          <option value="Duna">Duna</option>
          <option value="Alfaiataria">Alfaiataria</option>
          <option value="Linho">Linho</option>
          <option value="Plissada">Plissada</option>
          <option value="Suplex">Suplex</option>
          <option value="Courino">Courino</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      
      <div class="form-group">
        <label for="valor-compra">Valor da Compra</label>
        <input type="number" id="valor-compra" name="valorCompra" placeholder="Digite o valor da compra"
                    [(ngModel)]="novoEstoque.estoqueModel.valorCompra" required />
      </div>

      <div class="form-group">
        <label for="valor-revenda">Valor da Venda</label>
        <input type="number" id="valor-revenda" name="valorRevenda" placeholder="Digite o valor da revenda"
                    [(ngModel)]="novoEstoque.estoqueModel.valorRevenda" required />
      </div>
      
      <div class="form-group ">
        <label for="data-compra">Data da Compra</label>
        <input type="date" id="data-compra" name="dataCompra"
          [(ngModel)]="novoEstoque.estoqueModel.dataCompra" required />
      </div>

    </div>

    <div class="form-row form-buttons">
      <!-- 🔹 Mostra "Atualizar" e "Cancelar" apenas se estiver editando -->
      <div class="button-container" *ngIf="editando">
        <button type="submit">Atualizar</button>
        <button type="button" (click)="limparFormulario()" class="cancelar">Cancelar</button>
      </div>

      <!-- 🔹 Se for novo cadastro, mostra apenas "Salvar" -->
      <button type="submit" *ngIf="!editando">Salvar</button>
    </div>

  </form>

  <div class="listagem-forme">
    <app-estoque-list (estoqueSelecionado)="carregarEstoqueParaEdicao($event)"></app-estoque-list>
  </div>
  
</div>

