<div class="menu">
  <!--Alinhar a logo no canto esquedo do menu-->
  <div class="logo">
    <a [routerLink]="'/'">
      <img
        [src]="'assets/LogoAeLModas.jpg'"
        alt="Logo A&L Modas"
        style="width: 200px; height: 100px"
      />
    </a>
  </div>

  <div class="menu-buttons">
    <button mat-button [routerLink]="'/'">Home</button>
    <button mat-button>Sobre nós</button>
    <button mat-button>Contato</button>

    <button mat-button [routerLink]="'/fornecedoresCadas'">Fornecedores</button>
    <button mat-button [routerLink]="'/estoqueCadas'">Estoques</button>
    <button mat-button [routerLink]="'/produtoCadas'">Produtos</button>
    <button mat-button [routerLink]="'/devedorCadas'">Devedores</button>

    <button mat-button>Login</button>
  </div>
</div>
