<div class="menu">
  <!--Alinhar a logo no canto esquedo do menu-->
  <div class="logo">
    <a [routerLink]="'/'">
      <img
        [src]="'assets/LogoAeLModas.jpg'"
        alt="Logo A&L Modas"
        style="width: 200px; height: 100px"
      />
    </a>
  </div>

  <div class="menu-buttons">
    <button mat-button [routerLink]="'/'">Home</button>
    <button mat-button [routerLink]="'/sobrenos'">Sobre nós</button>
    <button mat-button [routerLink]="'/contatos'">Contato</button>

    <ng-container *ngIf="isLoggedIn">
      <button mat-button [routerLink]="'/fornecedoresCadas'">
        Fornecedores
      </button>
      <button mat-button [routerLink]="'/estoqueCadas'">Estoques</button>
      <button mat-button [routerLink]="'/produtoCadas'">Produtos</button>
      <button mat-button [routerLink]="'/devedorCadas'">Devedores</button>
    </ng-container>

    <!-- Mostrar botão de login apenas se o usuário NÃO estiver autenticado -->
    <button mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'">
      Login
    </button>

    <!-- Mostrar botão de logout apenas se o usuário ESTIVER autenticado -->
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</div>
