<div class="menu">

  <button mat-button  [routerLink]=" '' ">Home</button>
  <button mat-button  >Sobre nós</button>
  <button mat-button  >Contato</button>


  <button mat-button  [routerLink]="'/fornecedoresCadas'">Fornecedores</button>
  <button mat-button [routerLink]="'/estoqueCadas'">Estoques</button>
  <button mat-button  [routerLink]="'/produtoCadas'">Produtos</button>
  <button mat-button  [routerLink]="'/devedorCadas'">Devedores</button>

  <button mat-button  >Login</button>

</div>

