<h2>Listagem do Produtos cadastrados no Estoque</h2>
<!-- Tabela para listagem de 5 itens com o bootstrap -->

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">produto</th>
        <th scope="col">pluzSize</th>
        <th scope="col">tecido</th>
        <th scope="col">valorCompra</th>
        <th scope="col">valorRevenda</th>
        <th scope="col">dataCompra</th>
        <th scope="col">observacoes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>
</div>
