

<body>
  <!-- <nav class="navbar">
    <div class="logo">
      <a ><h1>A&L Modas</h1></a>
    </div>
  </nav> -->

  <main>
    <header class="header">
      <div class="headline">
        <h2 style="letter-spacing: 5px">
          Preços Acessíveis, Qualidade no atendimento e Roupas lindas!
        </h2>

        <h2 style="font-size: 60px">Loja de Roupas</h2>

        <p> Nossa Loja fica na Rua das Pacas 04 Quadra 1b Lote 04 Loja 3. CEP:
          28.927-503 No asfalto próximo a curva do S e da entrada do Condomínio
          Gravatá 2, ainda no asfalto. </p>

      </div>
      <div class="img-headline">
        <!-- <img style="max-width: 50%" [src]=" 'assets/' + imagemBanner " alt="banner" /> -->
      </div>
    </header>

    <section>
        <app-content></app-content>
    </section>

  </main>

</body>

